body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

header nav a:hover {
  background-color: #666;
}

main {
  padding: 20px;
}

.presentation {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.presentation h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.presentation p {
  margin-bottom: 20px;
}

.presentation img {
  width: 50%;
}

.services, .tarifs, .contact {
  background-color: #f6f6f6;
  padding: 20px;
}

.services ul, .tarifs ul, .contact ul {
  list-style: none;
  padding: 0;
}

.services ul li, .tarifs ul li, .contact ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer ul a {
  color: #fff;
  text-decoration: none;
}

footer ul a:hover {
  background-color: #666;
}

.contact {
  display: flex; /* Enable flexbox layout */
  flex-direction: row; /* Arrange elements side-by-side */
}

.map {
  flex: 0 0 auto;  /* Set width to fit content, don't grow */
  margin-left: 20px; /* Add margin for spacing */
}

.services {
  background-color: #f6f6f6;
  padding: 20px;
}

.services h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.services p {
  margin-bottom: 20px;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services ul li {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.services ul li h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.services ul li p {
  margin-bottom: 0;
}

.tarifs {
  background-color: #f6f6f6;
  padding: 20px;
}

.tarifs h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.tarifs p {
  margin-bottom: 20px;
}

.tarifs table {
  width: 100%;
  border-collapse: collapse;
}

.tarifs table th,
.tarifs table td {
  border: 1px solid #ddd;
  padding: 5px;
}

.tarifs table th {
  text-align: center;
}
